APP_PORT=
APP_HOST=

MONGO_URI=

JWT_ACCESS_TOKEN=
JWT_ACCESS_EXPIRATION=
JWT_REFRESH_EXPIRATION=
JWT_REFRESH_TOKEN=

SMTP_EMAIL=
SMTP_PASSWORD=

SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
FRONTEND_URL=

 ACTION_FORGOT_PASSWORD=
  ACTION_FORGOT_PASSWORD_EXPIRATION=